HELP.md
# Ignore all target directories
target/

# Allow Maven wrapper JAR to be tracked
!.mvn/wrapper/maven-wrapper.jar

# Allow target directories under src/main and src/test to be tracked
!**/src/main/**/target/
!**/src/test/**/target/

# Track the application.properties file
!src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
